html,
body {
    margin: 0;
    background-color: #323232;
}

.menubar {
    width: 100%;
    background-color: #222222;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

[draggable=true] {
    cursor: move;
}

.hide {
    display: none;
}

.resize {
    resize: both;
    overflow: scroll;
    scrollbar-color: #929292 #424242;
}

.menu-drawer {
    position: absolute;
    float: left;
    height: 600px;
    width: 500px;
    border: 1px solid black;
    min-width: 50px;
    min-height: 50px;
    background-color: #222222;
}


.menu {
    display: block;
    background-color: #e2e2e2;
    border: none;
    color: black;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.launcher {
    display: block;
    width: 100%;
    background-color: #202f50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1em;
}

.launcher:hover {
    background-color: #4c74af;
    color: white;
}