html,
body {
    margin: 0;
    background-color: #323232;
    overflow: hidden;
}

.categories {
    float: left;
    border: 1px solid #424242;
    background-color: #525252;
    width: 30%;
    height: 100%;
}

.categories div {
    width: 100%;
}

.categories div input {
    display: none;
}

.categories div label {
    display: block;
    background-color: inherit;
    color: whitesmoke;
    padding: 22px 0;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.categories div label:hover {
    background-color: #ddd;
    color: black;
}

.categories div input:checked+label {
    background-color: #ccc;
    color: black;
}

.appHolder {
    float: left;
    padding: 0px 12px;
    width: 60%;
    border-left: none;
    height: 100%;
}

.message {
    z-index: -1;
    position: absolute;
    font-size: xx-large;
    width: 100%;
    margin-top: 15%;
    color: whitesmoke;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.menubar {
    width: 100%;
    background-color: #222222;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: fixed;
}

[draggable=true] {
    cursor: move;
}

.hide {
    display: none;
}

.resize {
    resize: both;
    overflow: scroll;
    scrollbar-color: #929292 #424242;
}

.menu-drawer {
    z-index: 9999;
    position: absolute;
    float: left;
    height: 600px;
    width: 500px;
    border: 1px solid black;
    min-width: 500px;
    min-height: 600px;
    background-color: #222222;
}


.menu {
    display: block;
    background-color: #e2e2e2;
    border: none;
    color: black;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.launcher {
    width: 100%;
    background-color: #202f50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1em;
}

.launcher:hover {
    background-color: #4c74af;
    color: white;
}