html,
body {
    margin: 0;
    background-color: #323232;
}

.menubar {
    width: 100%;
    background-color: #222222;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

[draggable=true] {
    cursor: move;
}

.hide {
    display: none;
}

.resize {
    resize: both;
    overflow: scroll;
    scrollbar-color: #929292 #424242;
}

.menu-drawer {
    position: absolute;
    float: left;
    height: 600px;
    width: 500px;
    border: 1px solid black;
    min-width: 50px;
    min-height: 50px;
    background-color: #222222;
}